<section class="parallax__section">
  <div class="parallax__section__content">
    <p>
    This is the website for the March 2020 Mahamudra Course with Lama Ole Nydahl in Taipei, Taiwan. We will publish more details once everything is clear. Until then, you can <a href="/register">Join the waiting list</a>. Please keep in mind that the number of available places is limited and that friends from the Far East Sangha will be given priority in the registration process.
    </p>
  </div>
</section>
