.content.static_page
  h1 Ticketing

  p The ticket for the three-day <strong>Mahamudra Course with Lama Ole Nydahl</strong> in Taipei costs <strong>4800 TWD</strong>, including VAT. The ticketing system will be opened as soon as all formalities are cleared. Payment details will be sent by e-mail to all confirmed participants. Please do not come to the course or book plane tickets if you have not received your e-mail with payment details and paid for the course.

