.static_page.registration_success
  h2.title.is-2 Thank you

  p Your data has been successfully added to our waiting list. We will reach out to you once the official registration channel has been launched.

  = link "Back to home page", to: "/"