$brand-color: #cd2030
$navbar-height: 60px
$thin-border: 1px solid #eaeaea
$navbar-bg: transparentize(black, .6)
$primary: blue

$admin-navbar-height: $navbar-height
$admin-navbar-bg: #fff

$family-sans: "Open Sans", "Nunito Sans", sans-serif
$family-emph: "Merriweather Sans", sans-serif
