body.admin
  main
    padding-top: $navbar-height + 1.5rem

h1.title:not(:last-child)
  margin-bottom: 1rem

.flex
  display: flex
.admin_module_header
  display: flex
  align-items: start
  .sign_out_link
    margin-left: auto

header.admin-header
  width: 100%
  background: $admin-navbar-bg
  border-bottom: $thin-border
  display: flex
  position: fixed
  height: $admin-navbar-height
  margin-bottom: 2rem
  line-height: $admin-navbar-height

  a
    color: inherit
    display: inline-block
    height: $admin-navbar-height
    padding-left: .8em
    padding-right: .8em
    transition: all .2s

    &:hover
      background: darken($admin-navbar-bg, 6%)
      color: $primary

.admin-header__right
  margin-left: auto

.login-form
  width: 350px
  margin: 1.5em auto

.guest_table
  margin-bottom: 3rem

  tbody tr
    cursor: pointer
    &:hover
      background: darken(white, 7%)

.guest_table__full_name
  width: 20%

.is-monospace
  font-family: monospace

.guest_list_info, .guest_list_info p
  font-size: .9em
.guest_list_info
  border: 1px solid #ccc
  padding: 1em
  margin-bottom: 1em
