body.admin
  main
    padding-top: $navbar-height + 10px

.flex
  display: flex

header.admin-header
  width: 100%
  background: $navbar-bg
  border-bottom: $thin-border
  position: fixed
  height: $navbar-height
  margin-bottom: 2rem
  line-height: $navbar-height
  z-index: 10

  a
    color: inherit

  .navbar-item
    display: inline-block
    height: $navbar-height
    padding-left: .8em
    padding-right: .8em
    transition: all .2s

    &:hover
      background: darken($navbar-bg, 6%)
      color: $primary
