.landing
  height: 50vh
  position: relative
  background-repeat: no-repeat
  background-size: cover
  background-image: $white-gradient, url(/images/bg-landing.jpg)
  margin-bottom: -6rem

.hero-text
  position: absolute
  top: 45%
  left: 50%
  transform: translate(-50%, -50%)

  .title, .subtitle
    line-height: 1.5
    color: $brand-color
    font-weight: 200

  .title
    font-size: 3rem

  .subtitle
    font-size: 2.25rem