$registration-left-pane-overlay-color: transparentize($brand-color, .13)
$registration-left-pane-overlay: linear-gradient($registration-left-pane-overlay-color, $registration-left-pane-overlay-color)

.registration_page
  display: grid
  grid-template-columns: calc(50vw - 200px) 1fr
  grid-template-rows: $navbar-height 1fr
  grid-gap: 1.5rem
  align-items: stretch
  height: 100vh

.registration_page__left_pane
  background: $registration-left-pane-overlay, url(/images/bg-registration.jpg)
  background-repeat: no-repeat
  background-size: cover
  display: flex
  grid-row: 1 / span 2
  flex-direction: column
  justify-content: center
  color: #fff

.left_pane__content
  max-width: 80%
  margin: auto
  text-align: center
  h1
    font-weight: 300
    font-size: 3rem
    margin-bottom: 1.5rem

  p
    font-size: 1.25rem
    margin-bottom: 3rem

.registration_page__right_pane
  grid-row: 2
  overflow-y: auto

  p
    font-size: 1.125rem
    margin-bottom: 1em

  h3
    color: $brand-color
    font-size: 1.5rem
    font-weight: 600
    margin-top: 1.5rem
    margin-bottom: 1rem

.registration_form
  display: grid
  grid-template-columns: 360px 360px
  grid-column-gap: 1.25rem
  color: #000

  .label
    color: inherit
    font-weight: 400

  p, h3, button, .alert
    grid-column: 1 / span 2

  h3
    margin: 1.5rem 0 .5rem

  p + h3
    margin-top: .5rem

  button[type="submit"]
    margin-top: 1.5rem
    justify-self: center
    display: inline-block