$blue: #2980b9
$green: #2daf4a
$red: #e74c3c
$olive: #27ae60
$teal: #16a085
$grey: #95a5a6
$primary-color: $green
$secondary-color: $red
$light-grey: #f8f8f8
$cell-border: 1px solid #eee

$body-bg: $light-grey

$sidebar-link-height: 50px
$sidebar-link-spacing: 3px
$sidebar-link-font-size: 18px

$top-height: 70px
$side-width: 232px

=firefox
  @moz-document url-prefix()
    @content