$statistic-height: 65px

.dashboard
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 1.5rem

  .ui.card
    margin: 0
    width: 100%

  .statistics
    .statistic
      margin: 0
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      background: white
      height: $statistic-height
      line-height: $statistic-height
      border: none
      cursor: pointer
      transition: .2s ease-in-out

      &:not(:last-of-type)
        margin-bottom: .2em

      .value
        font-size: 2.2em
        display: inline-block
        text-align: center
        width: 100px

      .label
        font-size: 1.7em
        padding-left: .75em
        flex: 1
        line-height: 0

$statistics-palette: ("backup": $red, "paid": $green, "invited": $teal, "unverified": $grey, "total": $blue, "canceled": $yellow)
@each $status, $color in $statistics-palette
  .dashboard .statistic.#{$status}
    background-color: transparentize($color, .9)
    color: darken($color, 15%)

    &:hover
      background: transparentize($color, .78)
