.dashboard
  .statistics
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
    grid-gap: 1.5rem

    .statistic
      margin: 0
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      min-height: 160px
      justify-content: center
      border-radius: 8px
      background: white
      border: none
      font-size: 1.2em
      cursor: pointer
      transition: .2s ease-in-out

      .value
        font-size: 3em
        margin-bottom: .5em

      .label
        font-size: 1.2em
        margin-top: .6rem
        text-transform: uppercase
        line-height: 0

$statistics-palette: ("backup": $red, "paid": $green, "invited": $teal, "unverified": $grey, "total": $blue, "canceled": $yellow)
@each $status, $color in $statistics-palette
  .dashboard .statistic.#{$status}
    background-color: transparentize($color, .9)
    color: darken($color, 15%)

    &:hover
      background: transparentize($color, .78)