.guest_table
  table-layout: fixed
  max-width: 800px
  margin: 1rem

.ui.table .guest_table__id
  text-align: center
  width: 4rem

.ui.card.display_guest
  width: 800px
  padding: 1rem
  margin: 1rem

.ui.table.hoverable tbody tr:hover
  background: darken(white, 5%)
  cursor: pointer