.ui.guest_table
  table-layout: fixed
  max-width: $normal-content-width
  margin: .5rem 1rem 1rem 0

.ui.table .guest_table__id
  text-align: center
  width: 4rem

.ui.card.display_guest
  width: 100%

.ui.table.hoverable tbody tr:hover
  background: darken(white, 5%)
  cursor: pointer

p.audit
  margin: 0

.guest_history__tz_info
  color: #555
  font-size: .9em
  margin-top: .35em