.admin__profile
  text-transform: uppercase
  text-align: center
  height: 125px
  font-weight: 600

.admin__profile__avatar
  height: 4.5rem
  width: 4.5rem
  border-radius: 50%
  overflow: hidden
  border: 2px solid #fff
  margin: 1rem auto
  background: white
  img
    height: 100%