use Mix.Config

config :diamondway, Diamondway.Repo,
  username: "postgres",
  password: "YOUR_SECURE_PASSWORD",
  database: "diamondway_prod",
  hostname: "localhost",
  port: 5432,
  ssl: true,
  pool_size: 15

# generate a key with `mix phx.gen.secret 64`
config :diamondway, DiamondwayWeb.Endpoint,
  secret_key_base: "YOUR_SECRET_KEY_BASE"

config :diamondway, DiamondwayWeb.Mailer,
  adapter: Swoosh.Adapters.SMTP,
  relay: "MY_SERVER",
  username: "MY_USERNAME",
  password: "MY_PASS",
  ssl: true,
  port: 587
