.public_view.container
  h1.title Invalid payment link

  p It seems like you have clicked on a broken link. If the payment failed for some reason, you can request a new payment link using the <a href="/check" target="_blank">Didn't get your email?</a> page.
