<table width="100%" height="35">
  <p align="center" style="font-size: .85em; color: #333; margin-top: 2em">
    Diamond Way Buddhism Karma Kagyu Lineage<br/>
    Taipei Meditation Group<br/>
    <span style="font-size: .9em; margin-top: 1em; display: block">
    6F., No. 39, Ln. 85, Sec. 1, Xingnan Rd.,<br/>Zhonghe Dist., New Taipei City 235, Taiwan<br/>
    235台灣新北市中和區興南路一段85巷39號6樓
    </span>
  </p>
</table>
