<div style="text-align: center; color: #333333; font-size: 14px; margin-bottom: 30px;">
  <p>客服電話：(02)2567-8209</p>
  <p>FB: <a href="https://www.facebook.com/horizonwifi/" target="_blank">赫徠森國際企業有限公司</a></p>
  <p>LINE ID: <a href="line://ti/p/@horizonwifi">@horizonwifi</a></p>
  <p>
    LINE客服時間<br/>
    週一至週日早上10:00至晚上19:00
  </p>
</div>
