<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= @email.subject %></title>
</head>
<body style="margin: 0; padding: 0; background: #f1f4f5;" bgcolor="#F1F4F5">
  <table bgcolor="#F1F4F5" border="0" width="100%" style="width: 100%; background-color: #f1f4f5; border: none;">
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#F1F4F5" style="max-width: 100vw; box-sizing: border-box; border-collapse: collapse; font-family: <%= font(:sans) %>; font-size: 18px;">
          <tr>
            <td class="spacer" style="height: 30px;"></td>
          </tr>
    <tr>
      <td class="header" bgcolor="#FFFFFF" style="margin-top: 20px;">
        <%= render "_header.html" %>
      </td>
    </tr>
    <tr>
      <td class="container" bgcolor="#FFFFFF" style="padding: 20px; border-top: 2px solid <%= brand_color %>;">
        <%= render @view_module, @view_template, assigns %>
      </td>
    </tr>
    <tr>
      <td class="footer">
        <%= render "_footer.html" %>
      </td>
    </tr>
  </table>
      </td>
    </tr>
  </table>
</body></html>
