footer.page_footer
  p &copy; 2019 Diamond Way Buddhism Taiwan.
  p <a href="mailto:info@mahamudra.taipei">info@mahamudra.taipei</a>
  small Powered by <a href="https://phoenixframework.org" target="_blank">Phoenix Framework</a>.
