<!DOCTYPE html>
<html lang="en">
  <%= render "_head.html", assigns %>
  <body>
    <div class="landing-bg"></div>
    <%= render "_header.html", assigns %>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <%= render "_footer.html", assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
